.EmployeesSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ChartList {
  display: grid;
  grid-template-areas:
    'block1 block2'
    'block4 block2'
    'block3 block5';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr;
  column-gap: 8px;
  row-gap: 8px;
}
.block_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}
.block2 {
  grid-area: block2;
}
.block4 {
  grid-area: block4;
  height: fit-content;
}

.block3 {
  grid-area: block3;
}
.block5 {
  grid-area: block5;
}
.list_wrap {
  grid-area: block1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.employee_control {
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  column-gap: 8px;
  align-items: center;

  .control_button {
    width: fit-content;
    margin-right: 16px;
    margin-left: auto;
  }
}

.employees_list {
  padding-bottom: 16px;
}

.employees_header {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  height: 54px;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 32px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-secondary-color);
  }

  span {
    color: var(--grey-primary-color);
    font-size: 16px;
    font-weight: 400;

    &:first-child {
      margin-left: 16px;
    }

    &:last-child {
      margin-right: 16px;
    }
  }
}

.employees_pagination {
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
}
