.EmployeeNotes {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .notes {
    display: flex;
    gap: 8px;
    align-items: end;
  }

  .notes_list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}
