.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  color: var(--grey-primary-color);
  padding-bottom: auto;
}

.wrapper_common {
  height: 100%;
}

.text_wrap {
  margin-bottom: 10px;
}
