.stat_text {
  font-size: 20px;
  font-weight: 400;
  color: var(--base-0-color);
}

.bar_wrap {
  margin-top: 32px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  color: var(--grey-primary-color);
}
