.primary {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.black {
  color: var(--base-0-color);

  &:hover {
    color: var(--primary-color);
  }
}

.white {
  color: var(--white);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.s {
  font: var(--font-button-s);
}

.m {
  font: var(--font-button-m);
}

.l {
  font: var(--font-button-l);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 11px;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--primary-color);
  transition:
    color 0.2s ease-in,
    background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:active {
    background-color: var(--primary-active-color);
  }
}
